/*
Задание:
1. Первая буква, каждого абзаца статьи должна иметь больший шрифт и быть красной.
*/
article p:first-letter {
    font-size: 2em;
    color: red;
  }
  
  /*
  2. Заголовок "Огород" должен быть оранжевым
  */
  .plants-list {
    color: orange;
  }
  
  /*
  3. Слова "Фрукты" и "Овощи" жирным шрифтом, черного цвета.
  */
  ul > li {
    font-weight: bold;
    color: black;
  }
  
  ul > li ol {
    font-weight: normal;
  }
  
  /*
  4. В разделе "Огород" список фруктов должен быть серым, а овощей зеленым.
  */
  #allotment .fruits-list {
    color: gray;  
  }
  
  #allotment .vegetables-list {
    color: green;
  }
  
  /*
  5. В разделе "Склад" список фруктов должен быть оранжевым, а овощей коричневым.
  */
  .fruits-list {
    color: orange;  
  }
  
  .vegetables-list {
    color: brown;
  }
  
  /*
  6. Заголовки таблицы должны быть жирными и черными. Текст должен центрироваться.
  6.1. Имена студентов зелеными
  6.2. Четные строки должны получить голубой фон.
  6.3. Отметки посещения должны центрироваться.
  6.4. Наведение мышки на отметку должно менять фон ячейки на красный, а цвет текста делать белым.
  */
  thead
  {
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  
  .students-table tbody td:first-child {
    color: green;
  }
  
  
  tr:nth-child(2n + 2) {
    background: lightblue;
  }
  
  tbody tr > td:nth-child(n + 2) {
    text-align: center;
  }
  
  tbody tr > td:nth-child(n + 2):hover {
    background: red;
    color: white;
  }